.container {
  display: flex;
  justify-content: center;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.search {
  width: 100%;
  padding: 12px 14px;
  background-color: beige;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  margin-left: 0;
}

button {
  margin-top: 10px;
}

.icon {
  width: 40px;
}

ul {
  list-style: none;
  padding: 0;
}

.list {
  display: flex;
  flex-direction: column;
  margin-left: 40%;
}

.result {
  margin-left: 40%;
}

.food {
  margin-top: 10px;
  border-radius: 50%;
}

.component {
  background: rgba(187, 230, 244, 0.5);
}

h1 {
  background-color: beige;
}

h1, h2, h3, p {
  font-family: 'Roboto', sans-serif;
}